<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <mapping class="ru.javaschool.model.entities.EmployeeData" />
        <mapping class="ru.javaschool.model.entities.User" />
        <mapping class="ru.javaschool.model.entities.Route" />
        <mapping class="ru.javaschool.model.entities.Schedule" />
        <mapping class="ru.javaschool.model.entities.Station" />
        <mapping class="ru.javaschool.model.entities.StationDistance" />
        <mapping class="ru.javaschool.model.entities.Ticket" />
        <mapping class="ru.javaschool.model.entities.Train" />

    </session-factory>

</hibernate-configuration>