.autocomplete-suggestions { border: 2px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 5px 5px; white-space: nowrap; overflow: hidden; font-size:20px}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: bold; color: #df8505; }

.error{
    display: inline-block;
    *display: inline;
    align-content: center;
    padding-left: 5px;
    vertical-align: middle;
    *zoom: 1;
    color: red;
    font-size: large;
}

.validmsg {
    color: green;
    font-size: large;
}


body {
    font-size: medium;
    font-style: oblique;
    font-family: sans-serif;
    padding-top: 20px;
    padding-bottom: 60px;
}

/* Custom container */
.container {
    margin: 0 auto;
    width: 1000px;
}

.container > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    margin: 40px 0;
    text-align: center;
}

.jumbotron h1 {
    font-size: 100px;
    line-height: 1;
}

.jumbotron .lead {
    font-size: 24px;
    line-height: 1.25;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 60px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .navbar-inner {
    padding: 0;
}

.navbar .nav {
    margin: 0;
    display: table;
    width: 100%;
}

.navbar .nav li {
    display: table-cell;
    width: 1%;
    float: none;
    background-color: lightgray;
}

.navbar .nav li a {
    font-weight: bold;
    text-align: center;
    border-left: 1px solid rgba(255, 255, 255, .75);
    border-right: 1px solid rgba(0, 0, 0, .1);
}

.navbar .nav li:first-child a {
    border-left: 0;
    border-radius: 3px 0 0 3px;
}

.navbar .nav li:last-child a {
    border-right: 0;
    border-radius: 0 3px 3px 0;
}

.masthead a:hover {
    text-decoration: none;
}

.span3 img{
    float:right;
    line-height: 100%;
}

.bug {
    float: right;
}

.bug2 {
    float: left;
}

div .filter {
    padding-bottom: 10px;
    padding-left: 2px;
    background-color: #7f99ff
}

.control-label {
    font-size: 15px;
}

label {
    font-size: 14px;
}

.btn-my {
    margin-left: 14px;
}

.msg {
    display: inline-block;
    *display: inline;
    padding-left: 5px;
    vertical-align: middle;
    *zoom: 1;
    color: green;
    font-size: large;
}

div .filter {
    background-color: #48acca;
}

div .navbar-inner {
}

.table-bordered th {
    background-color: lightgray;
}

.table-bordered td {
    background-color: #f4f4f4;
    vertical-align: middle;
}

.manage {
    margin-top: 5px;
    margin-bottom: 5px;
}

.manage-low {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 3px;
}

